*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
    
}



/* top navbar */
.top-navbar{
    display: flex;
    justify-content: space-between;
   
}
.top-navbar p{
    margin-top: -80px;
    font-weight: bold;
    margin-left: 100px;
    font-size: 25px;
}

.top-navbar h5{
    margin-top: -40px;
   
    margin-left: 115px;
   
}

.top-navbar .icons{
    margin-top: 13px;
    margin-right: 19px;
}
.top-navbar a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.top-navbar a img{
    margin-bottom: 3px;
}
.top-navbar a:hover{
    color: black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
}
/* top navbar */



/* navbar */
#navbar{
    background-color:  rgb(149, 67, 32);
}
#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #ffc800;
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    
}
.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #ffc800;
}
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: rgb(67 0 86);
    color: #ffc800;
}


/* navbar */





/* home content */
.home{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}
.home .img{
    flex: 1 1 300px;
    height: 600px;
  
    
  
}
.home .img img{
    margin-top: 1px;
    width: 100%;
    height: 670px;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: rgb(86, 0, 47);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.content h1 span{
    color: rgb(67 0 86);
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #ffc800;
}
.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ffc800;
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .home{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .home{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .home{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
   .content h1{
    font-size: 45px;
   }
}
@media screen and (max-width:320px){
   .content h1{
    font-size: 36px;
   }
}
/* home content */

/* contact & map*/

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  #cont{

    font-size: 43px;
  }





#learn{

   margin-top: -21px;




}
/* banner */
.banner{
    margin-top: 60px;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}
.banner .img{
    flex: 1 1 300px;
}
.banner .img img{
    margin-top: 30px;
    width: 100%;
}
.banner .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.banner .content h1{
    color: rgb(67 0 86);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.banner .content h1 span{
    color: rgb(67 0 86);
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #ffc800;
}
.banner .content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ffc800;
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .banner{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .banner{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .banner{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
   .banner .content h1{
    font-size: 45px;
   }
}
@media screen and (max-width:320px){
   .banner .content h1{
    font-size: 36px;
   }
}
/* banner */




/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 18px;
    background-color: rgb(149, 67, 32);
    margin-top: 100px;

   
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: rgb(149, 67, 32);
    color: white;
    font-size: 18px;
}
#footer .footer-top .footer-contact{
    margin-bottom: 20px;
    font-size: 18px;
}
#footer .footer-top .footer-contact h4{
    color: #ffc800;
    font-size: 20px;
}
#footer .footer-top .footer-contact h4{
    font-size: 20px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
    font-size: 18px;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    font-size: 18px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color: #ffc800;
    font-size: 20 px;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #ffc800;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
    
}
#footer .footer-top .socail-links a:hover{
    background-color: #ffc800;
    color: white;
}
#footer .copyright{
    text-align: center;
    float: left;
    
    font-size: 18px;
    
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 18px;
}
#footer .credits a{
    color: #ffc800;
}
/* footer */








/* Register */
#register{
    width: 70%;
    height: 160vh;
    background-color: #45acd8;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: rgba(22, 12, 46, 0.15) 0px 48px 100px 0px;
}
#side11{
    background-color: white;
    height: 160vh;
    width: 620px;
    
    border-radius: 10px;
}





/* login */
#login{
    width: 71%;
    height: 80vh;
    background-color: #d6eef7;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: rgba(22, 12, 46, 0.15) 0px 48px 100px 0px;
}

#side1 h3{
    color: #da2e2e;
    font-weight: bold;
    margin-top: 32px;
    font-size: 31px;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}
#side1 p{

    font-size: 16px;

   
}


#side1 i{

    position: absolute;
    font-size: 18px;
    color: grey;
    margin: 19px 0 0 -25px;
    
    
    
    }

#side2{
    background-color: rgb(190, 238, 246);
    height: 80vh;
    width: 539px;
    
    border-radius: 10px;
}
#side2 h3{
    margin-top: 30px;
    color: #da2e2e;
    font-weight: bold;
    font-size: 31px;
    text-shadow: 0px 1px 1px black;
}
.input2 input{
    margin-top: 15px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #e84083;
}

#side2 p{

font-size: 20px;





}
.input2 input ::placeholder{
    font-weight: bold;
}


/* LOGIN button */
#btnlogin{
    padding-top: 30px;
    transition:.5s ;
    font-weight: bold;

}
#btnlogin a{
    padding: 8px;
    text-decoration: none;
    
    border-radius: 11px;
    background-color:#da2e2e;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
}


#btn1{


    padding: 8px;
    text-decoration: none;
    
    border-radius: 11px;
    background-color:#da2e2e;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;

}
#side2 p{
    margin-top: 10px;
}
#side2 i{

position: absolute;
font-size: 20px;
color: grey;
margin: 15px 0 0 -25px;



}
@media screen and (max-width:991px){
    .input2 input{
        width: 250px;
    }
}
@media screen and (max-width:765px){
    .input2 input{
        width: 260px;
    }
    #side2{
        height: 60vh;
    }
}








/* about */
#about{
    margin-top: 30px;
}
#about p{
   
   font-size: 22px;
}
#about button{
    width: 150px;
    height: 36px;
    color: white;
    background-color: rgb(67 0 86);
    border-radius: 5px;
    cursor: pointer;
}
/* about */






/* contact */
#contact{
    margin-top: 50px;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111 ,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(67 0 86);
}
.messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.messagebtn button:hover{
    background-color: rgb(67 0 86);
    
    color: rgb(195, 21, 21);
}


/* contact */



/* Registation of Staff*/
#ros{
    font-size: 60px;
    color:darkmagenta;
    border-color:olive;
    background-color: aqua;
}
#ros:hover{
    background-color: rgb(7, 252, 72);
flex:10px blue;
    border-color:cyan;
    -webkit-transform: translateY(-10px);
	transform: translateY(-10px);
    box-shadow: 10px 10px 20px gold;
}
#ros:hover{
   animation: blinker 1.5s linear infinite;
    background-color:lawngreen;
font-family: sans-serif;}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}




/*Duty allocation*/
.home-main{
    background: #3addb7;
    color:#fff;
    padding: 5%;
    text-align: center;
}
.blinker{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  30% {
    opacity: 0;
  }
}
.home-main button{
    background: #fff;
    color: #3c10ed;
    border-radius: 0;
    font-weight: 700;
    width: 16%;
    height: 50px;
    top: 4%;
    margin-top: 3%;
}
.home-main button:hover{
    transition: 1s ease;
    color:#540dd0;
    width: 19%;
}
.content1-left{
    padding:9%;
}
.content1-right{
    padding:9%;
    background:#e4e4e4;
}
.home-content2{
    background: #6f781f;
    padding: 1.4%;
    text-align: center;	
}
.home-content2 p{
    font-size: 18px;
    line-height: 50px;
}
.home-content2 p span{
    font-weight: 500;
}

/*Duty allocation*/


/*Duty_All_Assign1*/

.header{
    border-top: 3px solid #5a7eb5;
    background: #495057;
    color: #fff;
    width: 70%;
    padding: 1%;
}
.header-left i{
    margin-left: 5%;
}
.header-right h4{
    text-align: right;
    margin-right: 10%;
    line-height: 2; 
}
.content{
    background: #408ab6;
    width: 70%;
}
.content .form-content{
    padding:10%;
}
.content .form-content .input-group .input-group-text{
    background:#333;
    color:#fff;
    border:none;
    border-radius:0;
    font-weight: 600;
}
.content .form-content .input-group input{
        border-radius: 0;
}
.content .form-content .input-group input:focus{
    border-color: transparent;
}
.content .form-content h4{
    margin-bottom:5%;
}
.content .form-content button{
    background: #333;
    color: #fff;
    border-radius: 0;
    width: 20%;
    font-weight: 600;
}
/*Duty_All_Assign1*/




/*button LOGIN*/
#btn-login{

    width: 85px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 3ch;
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 19px;
}
#btn-login a{

    text-decoration:  none;
    color: #1c1c50;
    transition: 0.5s ease;
}

#btn-login a:hover{
    background-color: #360ba1;
    color: white;
}
#btn-login:hover{
    background-color: #360ba1;
    color: white;
}
#instructors{


    background-color: #3addb7;
}






/* Card photo*/



* {
    margin: 100; 
	padding: 100;
}
body {
	background: #9d2020; 
	font-family: arial, verdana, tahoma;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 1000; height: 321px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: -16px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1900px;
    height: 200px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 300px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 250px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 700px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}































/* map*/
#map{


    width: 650px;
    height: 440px;
}




